@font-face {
  font-weight: 300;
  font-family: Inter;
  src: url("../fonts/Inter-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Inter;
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  src: url("../fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Inter;
  src: url("../fonts/Inter-Bold.ttf");
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.2;
}

h1, h2 {
  font-weight: 700;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}