:root {
  --color-white: #FFF;
  --color-black: #000;
  --color-background: #F1F9FD;
  --color-green: #D1F5EE;
  --color-yellow: #FDF4DF;
  --color-purple: #EEE7FF;
  --color-light-violet: #514FAE;
  --color-dark-violet: #413F8B;
}